<div class="d-flex">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar GIFs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Libero hic consequuntur aut, fugiat officia maxime dicta.
        Hic labore in temporibus natus itaque, quod, delectus
        quae architecto tenetur dolorum, commodi accusantium.
      </div>
    </div>
  </div>
</div>
